<div class='container-fluid'>

    <div class='card mb-3' style='margin-top: 30px;'>
        <div class='row g-0'>
            <div class='col-md-3'>

                <img src='{{hotel.hotel_imagelink}}' class='img-fluid rounded-start' alt='...' />
            </div>
            <div class='col-md-6'>
                <div class='card-body'>
                    <h5 class='card-title'><a>{{hotel.hotel_name}}</a></h5>
                    <p class='card-text'>{{hotel.hotel_addr}}</p>

                </div>
            </div>
            {{! begin }}
            <div class='col-md-3'>
                {{#each this.sources}}
                    <div class='card-body'>
                        <h5 class='card-title' style='font-weight: bold;'>{{this.hotel_price}}</h5>
                        <a
                            href='{{this.hotel_orderlink}}'
                            style='font-style: italic;'
                            target='_blank'
                        >{{this.source_name}}</a>
                    </div>
                {{/each}}
            </div>
            {{! end }}
        </div>
    </div>

    <div class='card' style='margin-top: 50px;'>
        <div class='card-header' style='background-color: cornflowerblue;color: white;'>
            Comment
        </div>
        {{#each comments}}
            {{#each this.comment}}
                <div class='card-body'>
                    <blockquote class='blockquote mb-0'>
                        <p>{{this}}</p>
                    </blockquote>
                </div>
            {{/each}}
            <footer
                class='blockquote-footer'
                style='font-style: italic;font-weight: bold;size: 30px;'
            >{{this.source_name}}
                <cite title='Source Title'></cite></footer>
        {{/each}}
    </div>
</div>