<!--
<div class='container-fluid'>

    <div class='card mb-3' style='margin-top: 30px;'>
        <div class='row g-0'>
            <div class='col-md-3'>

                <img src='{{hotel.hotel_imagelink}}' class='img-fluid rounded-start' alt='...' />
            </div>
            <div class='col-md-6'>
                <div class='card-body'>
                    <h5 class='card-title'><a>{{hotel.hotel_name}}</a></h5>
                    <p class='card-text'>{{hotel.hotel_addr}}</p>

                </div>
            </div>
            {{! begin }}
            <div class='col-md-3'>
                {{#each this.sources}}
                    <div class='card-body'>
                        <h5 class='card-title' style='font-weight: bold;'>{{this.hotel_price}}</h5>
                        <a
                            href='{{this.hotel_orderlink}}'
                            style='font-style: italic;'
                            target='_blank'
                        >{{this.source_name}}</a>
                    </div>
                {{/each}}
            </div>
            {{! end }}
        </div>
    </div>

    <div class='card' style='margin-top: 50px;'>
        <div class='card-header' style='background-color: cornflowerblue;color: white;'>
            Comment
        </div>
        {{#each comments}}
            {{#each this.comment}}
                <div class='card-body'>
                    <blockquote class='blockquote mb-0'>
                        <p>{{this}}</p>
                    </blockquote>
                </div>
            {{/each}}
            <footer
                class='blockquote-footer'
                style='font-style: italic;font-weight: bold;size: 30px;'
            >{{this.source_name}}
                <cite title='Source Title'></cite></footer>
        {{/each}}
    </div>
</div>
-->


    <link rel='stylesheet' href='/css/lesson.css' />
    <link rel='stylesheet' href='/css/index.css' />
    <script src='/js/icons.js'></script>


        <!----------------TOP NAVIGATION-------------------->
        {{!-- <header class="header" id="header">
            
        </header> --}}

        <!----------------LESSON-CONTENT--------------------->
        <section>
            <div class="lesson-detail container">
                <div class="course-name">
                    <h2><i style="color: crimson;font-size: 20px; font-weight: 200;" class='bx bxl-youtube'></i> {{hotel.hotel_name}} </h2>
                </div>
                <div class="lesson" style="margin: 0px 0px 20px 0px;">
                    <div class="lesson__title">
                        <h3><i style="color: crimson;font-size: 20px; font-weight: 200;" class='bx bxs-book-alt'></i> {{hotel.hotel_addr}} </h3>
                    </div>
                </div>
            </div>
            <div class="lesson-container container">
                <div class="left-container">
                       <img
                title='vimeo-player'
                src='{{hotel.hotel_imagelink}}'
                width="100%" height="600px"
                frameborder='0'
                allowfullscreen
            ></img>
                    {{!-- <iframe width="100%" height="600px" src="http://www.youtube.com/embed/IStS6E0uGhE?autoplay=1" frameborder="0" allowfullscreen></iframe> --}}
                    <div class="tab">
                        <button value="transcript" class="tab-links" onclick="openTab(event, 'transcript')" id="defaultOpen"><i class="far fa-bookmark"></i> Comment</button>
                        <button value="quiz" class="tab-links" onclick="openTab(event, 'quiz')"><i class="far fa-question-circle"></i> Quiz</button>
                    </div>
                    <div id="quiz" class="tab-content">
                        <p>Answer the following questions about the interview.</p>
                        <!-- begin -->
                           
                           {{#each questions}}
                                <div class="qiz-question">
                                    <div class="question__content">{{this.content}} </div>
                                    <!-- begin-->
                                        {{#each this.answer}}
                                        <div class='answer_card'>
                                            <input type="checkbox" name="question1" class="answer1" id="{{this._id}}" value="{{this.content}}">
                                            <label for="answer1_A">{{this.content}}</label>
                                             <input type="hidden" class='isTrue' id="isTrue_{{this._id}}" name="isTrue" value="{{this.isTrue}}">
                                            </br>
                                        </div>
                                         {{/each}}
                                    <!--end-->
                                </div>
                          {{/each}}
                          <!-- begin -->
                      
                        
                        <button id="submit-answer"  ><i class="far fa-paper-plane" ></i> Submit Answer</button>
                        <button id="reset-answer" ><i class="fas fa-redo-alt"></i> Reset Answer</button>
                    </div>  
                    <div id="transcript" class="tab-content">
                         {{#each comments}}
                        <div id="transcript__content">
                           
                                {{#each this.comment}}
                                    <div class='card-body'>
                                        <blockquote class='blockquote mb-0'>
                                            <p>{{this}}</p>
                                        </blockquote>
                                    </div>
                                {{/each}}
                            <footer
                                class='blockquote-footer'
                                style='font-style: italic;font-weight: bold;size: 30px;'
                            >{{this.source_name}}
                                <cite title='Source Title'></cite></footer>
                           
                        </div>
                        <button id="hide-transcript">Hide Transcript</button>
                        {{/each}}
                    </div>
                    <section class="pagination">
                        {{#compare currentPage 1}}
                        {{/compare}}
                         {{#if hasPreviousPage }}
                            {{#compare 1 previousPage}}
                            {{/compare}} 
                        {{/if}}
                        <a href="?page={{currentPage}}" class="active">{{ currentPage}}</a>
                       
                        {{#if hasNextPage }}
                            {{#compare lastPage nextPage}}
                            {{/compare}} 
                        {{/if}}
                        {{#compare currentPage lastPage}}
                        {{/compare}}

                    </section>
                    <br>
                    <hr/>
                    
                    <div class="continue-lesson">
                        <h3>Watch next <i class='bx bxs-right-arrow-square bx-fade-right' style="color: var(--danger-color);font-size: 20px;" ></i></h3>
                        <div class="lessons">
                            {{!-- begin --}}
                           {{#each relative_lessons}}
                            <div class="lesson-card">
                                <div class="lesson-card-left">
                                    <a href="/lessons/{{this.slug}}" class="lesson-card__index">
                                        <b>{{this.name}}</b>
                                    </a>
                                    <div class="lesson-card__time">
                                        <i class='bx bx-time-five' style='color:#7d7d7d'>{{this.createdAt}}</i> 
                                    </div>
                                </div>
                                <a href="lesson.html" class="lesson-card-right">
                                    <i class="far fa-play-circle"></i>
                                    <div class="lesson-length">13:45</div>
                                    <img src="/{{this.imageUrl}}" alt="Anh dai dien">
                                </a>
                                
                            </div>
                            {{/each}}

                              {{!-- end--}}
                        
                        
                        </div>
                    </div>
                    
                </div>      
                
                    
                <div class="right-container">
                    <h2>Sourse</h2>
                    <div class="course-relate-list">
                        {{#each this.sources}}
                            <div class="course-item">
                             {{#image this.source_name}}
                            {{/image}}
        

                                <div class="course-item-information">
                                    
                                    <h3 class="course-item__name">{{this.source_name}}</h3>
                                    <h2 class="course-item__description">{{this.hotel_price}}</h2>
                                    <a class="btn-primary course-btn" href="{{this.hotel_orderlink}}" target="_blank">Go to Order <i class='bx bx-right-arrow-alt'></i></a>
                                    <div style="margin-bottom: 20px"></div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>

        <!-------------------------FOOTER-------------------------->
        <section class="footer" id="footer">

        </section>
    </div>
    <!----------------------ADD JS FILE------------------------>
    <script src="/js/loader.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/footer.js"></script>
    
    <script src="/js/darkmode.js"></script>
    <script src="/js/lesson.js"></script>

</body>