
<head>
    <link rel='stylesheet' href='/css/index.css' />
    <script src='/js/icons.js'></script>
</head>
{{! Begin }}

        <!---------------------TOP NAVIGATION-------------------->
     
        <!--------------------SEARCH BAR------------------------>
        <section class="search-course" id="search-bar">
            <div class="container"> 
                <form class="search-bar" action='/search'> 
                    <input type="text" class="search-bar__input" name="hotel" placeholder="Nhập tên khách sạn" autocomplete="off"> 
                    <button type="submit" class="search-bar__btn btn-primary">Tìm kiếm</button> 
                </form> 
            </div>
        </section>

        <!-----------------INTRODUCTION SECTION---------------------->
        <section class="introduction-section">
            <div class="container">
                <div class="introduction__image" style="text-align: center;">
                    <img src="/assets/images/Hotel Booking-amico.png" width="450px" height="400px" alt="Learner">
                </div>
                <div class="introduction__text">
                    <div style="width: 100px; border-top: 15px var(--grey-color) solid;margin-bottom: 20px;"></div>
                
                    <h2>Chào mừng đến với Travel Agency</h2>
                    <p>travel agency là công cụ tìm nơi lưu trú với khả năng so sánh giá bao quát. Giá hiển thị được cung cấp bởi rất nhiều nơi lưu trú và website đặt phòng. Điều này có nghĩa là tuy người dùng lựa chọn nơi lưu trú phù hợp với nhu cầu trên travel agency, việc đặt phòng sẽ được hoàn tất qua website đặt phòng (liên kết với website của chúng tôi).</p>
                </div>
                
            </div>
        </section>
        
        <!----------------SLIDER NEW COURSE------------------->
        <section>
            <h2 class="container"></h2>
            <div class="new-course container">
                <i id="next" class="fas fa-angle-right"></i>
                <i id="previous" class="fas fa-angle-left"></i>
                 <div class="carousel">
                     <!-- begin-->
                       {{#each courses}}
                    <div class="course-item carousel__item"> 
                        <img src="/{{this.imageUrl}}" alt="Course Item">
                        <div class="course-item-information">
                            <h2 class="course-item__name">{{this.name}}</h2>
                            <div class="course-item__description">{{this.description}}</div>
                            <div class="course-item__button">
                                <a class="btn-primary course-btn"  href='/courses/{{this._id}}'>Learn more <i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>
                       {{/each}}
                     <!-- end-->
                </div>
            </div>
        </section>
        <section class="align-items-center">
            <div class="container">
                <div style="border-top:3px solid var(--text-color);width: 100%; margin: auto;" class="play-on-scroll left-to-right"></div>
                <div class="row">
                    <div class="col-4 col-xs-12">
                        <img src="../../assets/images/Mobile-bro.png" alt=""
                            class="fullwidth left-to-right play-on-scroll image-scroll">
                    </div>
                    <div class="col-8 col-xs-12">
                        <div class="about-slogan right-to-left play-on-scroll">
                            <h2>Tìm nơi lưu trú lý tưởng trên travel agency</h2>
                            <p>
                                Với travel agency, bạn có thể dễ dàng tìm nơi lưu trú lý tưởng và so sánh giá từ nhiều website khác nhau. Chỉ cần nhập điểm đến và ngày lưu trú mong muốn, công cụ tìm kiếm của chúng tôi sẽ so sánh giá cho bạn. Để tinh chỉnh kết quả tìm kiếm, bạn có thể lọc theo giá, khoảng cách (ví dụ: từ bãi biển), xếp hạng sao, tiện nghi và các tiêu chuẩn khác. Từ hostel giá rẻ đến những phòng suite sang trong, việc đặt phòng trực tuyến trở nên đơn giản hơn cùng travel agency.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="align-items-center">
            <div class="container">
                <div style="border-top:3px solid var(--text-color);width: 100%; margin: auto;" class="play-on-scroll right-to-left"></div>
                <div class="row">
                    <div class="col-8 col-xs-12">
                        <div class="about-slogan right-to-left play-on-scroll">
                            <h2>Xem nhận xét để tìm nơi lưu trú lý tưởng của bạn</h2>
                            <p>
                               Hơn 175 triệu đánh giá của khách và hơn 19 triệu ảnh của chúng tôi có thể giúp bạn hiểu rõ hơn về nơi định đến trước khi lên đường. Để có được đầy đủ thông tin tổng quan về nơi lưu trú, travel agency hiển thị điểm đánh giá trung bình và nhận xét từ các website đặt phòng như Booking.com,Tripadvisor, Agoda, website của những nơi lưu trú hàng đầu
                            </p>
                        </div>
                    </div>
                    <div class="col-4 col-xs-12">
                        <img src="../../assets/images/Ahmedabad-rafiki.png" alt="alt1"
                            class="left-to-right play-on-scroll image-scroll" >
                    </div>
                </div>
            </div>
        </section>
        

        <!--------------------COURSE LISTS---------------------->
        <section class="home" >
            <h2 class="container"></h2>
            <div class="container">
                <div class="course-list ">
                    <!-- begin -->
                     {{#each courses}}
                    <div class="course-item play-on-scroll left-to-right">
                        <img  src="/{{this.imageUrl}}" alt="Course Item">
                        <div class="course-item-information">
                            <h2 class="course-item__name">{{this.name}}</h2>
                            <div class="course-item__description">{{this.description}} </div>
                            <div class="course-item__button">
                                <a class="btn-primary course-btn" href='/courses/{{this._id}}'>Learn more <i class='bx bx-right-arrow-alt'></i></a>
                            </div>
                        </div>
                    </div>
                       {{/each}}
                     <!-- end -->
                 
                </div>
            </div>
        </section>

        <!---------------------FAQS------------------------>
        <section  id="faqs">
            
        </section>

        <!----------------------FOOTER----------------------->
        <section class="footer" id="footer">

        </section>



{{! end }}
<script src='/js/scrollAnimation.js'></script>
<script src='/js/loader.js'></script>
<script src='/js/navigation.js'></script>

<script src='/js/footer.js'></script>
<script src='/js/faqs.js'></script>
<script src='/js/darkmode.js'></script>
<script src='/js/index.js'></script>