
<head>
     <link rel='stylesheet' href='/css/lesson.css' />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/videoCourses.css">
    <script src="/js/icons.js"></script>
    
</head>
<body>
    <!---------------------TOP NAVIGATION-------------------->
    {{!-- <header class="header" id="header">
        
    </header> --}}

    <!--------------------SEARCH BAR------------------------>
    <section class="search-course" id="search-bar">
        
    </section>

    <!--------------------- LESSON LISTS------------------->
    <section class="new-lesson" id="new-video-lesson">
       
        
        <div class="container video-lesson">
            <div class="video-lesson__image">
                <img src="/assets//images/Globalization-rafiki.png">
            </div>
            <div class="lessons">
                <h2>Tìm thấy {{totalItems}} kết quả</h2>
                  <!-- begin -->
                   {{#each hotels}}
                <div class="lesson-card">
                    <div class="lesson-card-left" style="width: 350px;">
                          <a href="/hotel/{{this._id}}" class="lesson-card__index">
                              <b>{{this.hotel_name}}</b>
                          </a>
                          <div class="lesson-card__time">
                            <i class='bx bx-time-five' style='color:#7d7d7d'>{{this.hotel_addr}}</i> 
                          </div>
                    </div>

                   
                    <a href="/hotel/{{this._id}}" class="lesson-card-right">
                        <img src="{{this.hotel_imagelink}}" alt="Anh dai dien" style="width: 190px;">
                    </a>
                    <div class="price-source">  
                       {{#each this.source}}
                       <div class="price-card">
                          {{#if this.hotel_price }}
                            <h6 class='card-title' style='font-weight: bold; width: 109px;'>{{this.hotel_price}}</h6>
                            <a href="{{this.hotel_orderlink}}" target="_blank" style='font-style: italic;color: blue;'>{{this.source_name}}</a>
                            <hr>
                          {{/if}}      
                        </div>   
                        
                        {{/each}}
                       
                     </div> 
                    
                </div>
                  <!-- end -->
                  
               
             {{/each}}
              <section class="pagination">
                 {{#compareTo currentPage 1}}
                        {{/compareTo}}
                         {{#if hasPreviousPage }}
                            {{#display3DotsPrevious 1 previousPage }}
                            {{/display3DotsPrevious}}
                            {{#compareTo 1 previousPage}}
                            {{/compareTo}}
                        {{/if}}
                        <a href="?page={{currentPage}}" class="active">{{ currentPage}}</a>
                       
                        {{#if hasNextPage}}
                            {{#compareTo lastPage nextPage}}
                            {{/compareTo}} 
                            {{#display3DotsLast lastPage nextPage }}
                            {{/display3DotsLast}}
                        {{/if}}
                       
                        {{#compareTo currentPage lastPage}}
                        {{/compareTo}}
             </section>
             </section>
            </div>  
        </div>
      
    </section>

    <!----------------------FOOTER----------------------->
    <section class="footer" id="footer">

    </section>

    <!--------------------ADD JS------------------------->
    <script src="/js/loader.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/searchbar.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/darkmode.js"></script>
</body>
<script>
     function getURL(page) {
        const url = new URL(window.location.href);
       
        if (!url.searchParams.get('page')) {
            url.searchParams.append('page', page);
        }
        else{
            url.searchParams.set('page', page);
        }
        window.location.replace(url);
    }
</script>
